.card {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 0 2rem;
    /* border: 1px solid gray; */

}

.card__text {
    padding: 1rem 0;
    background-color: rgb(235, 225, 225);
    margin: .1rem;
}