.list__headers {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
    margin: 0 2rem;
}

.list__headers__text {
    padding: 1rem 0;
    background-color: rgb(210, 200, 200);
    margin: .1rem;
}

.toDo__list {
    text-align: center;
    margin: 0;
}